

.todolists {
  display: flex;
  padding: 30px;
}

.todolists > div {
  margin-right: 50px;
}

.todolistTitle {
  display: flex;
  align-items: center;
}


.error {
  border:1px solid red;
}

.activeButton {
  background: aqua;
}
